/* Genel stil */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    padding: 10px;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h1, h2 {
    color: #333;
}

/* Ana sayfa giriş bölümü */
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.image-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Resim ile metin arasındaki mesafe */
    padding: 20px;
}

.image img {
    width: 500px; /* Resmin genişliği */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text {
    max-width: 600px; /* Metnin maksimum genişliği */
    color: #333;
    text-align: left;
}

.text h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.text blockquote {
    font-style: italic;
    font-size: 1.5rem;
    margin-top: 10px;
}

.works-list {
    display: flex;
    justify-content: center;  /* Eserleri ortalamak için */
    align-items: center;
    text-align: center;
    padding: 20px;
}

.works-list ul {
    list-style-type: none;
    padding: 0;
}

.works-list li {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}